

    .navStyle{
            background-color: #f9fafc;
            height:80px;
            font-size:23px;
    }
    @media (max-width: 576px){
        .navStyle{
        height:200px;
        }
    }
    .menuStyle a{
        background: #f9fafc;
        color:rgb(17, 36, 119)  !important
    }

    .itemStyle{
        height:65px;
        color:rgb(17, 36, 119)
    }

    .iconStyle{
        color:rgb(250, 195, 94);
    }

    .menuDisplay{
        display:flex;
        align-items: center;
        text-align: center;
    }