.events-container{
    display:flex;
    height:1000px;
}

.rowStyle{
    background-image: url(../assets/lightpattern.jpg);
    background-color: rgb(17, 36, 119);
    opacity: 0.8;
}
.eventButton{
    background-color: white;
    font-size:20px;
    margin:2px;
    border:rgb(250, 195, 94);
    color:rgb(250, 195, 94);
    border: 1px solid rgb(250, 195, 94);
    
}
.eventButton:hover{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* .bottomButton , .topButton{

} */